
@{
    ViewBag.Title = "StatIt";
}

<h1>Hello StatIt</h1>

<div id="target">

</div>

@section Scripts {
<script>

    $(document).ready(function () {

        function GetDownloads()
        {

            $.getJSON('/Home/GetDownloads', function (data) {

                var parsedJson = JSON.parse(data);

                var iain = parsedJson.lines[0].data.application;

                $('#target').append('It woks' + iain);
            });
        }

        GetDownloads();


    });


    //parsedJson

    

    

</script>
}


