@{
    ViewBag.Title = "StatIt";
}

<h1>Revenues</h1>
<div class="row">
    <div class="col-md-3">
        <div id="sandbox-container">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="start" data-bind="value: dateStart" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" data-bind="value: dateEnd" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success btn-sm" data-bind="click: refreshData">Refresh</button>
    </div>
</div>



<div class="row">
    <!--Revenues Container-->
    <div class="col-md-6">

        <div id="downloadLoader">
            <img src="/Content/images/ajax-loader.gif" />
        </div>

        <div id="downloadChart" style="height:500px; max-width:700px; margin: 0 auto" data-bind="dxChart: {
    dataSource: revenues,
    commonSeriesSettings: {
        argumentField: 'Week',
        type: 'stackedBar',
        label: {
            visible: true,
            format: 'currency',
            customizeText: function () {
                return '£' + this.value; },
            showForZeroValues: false
            }
    },
    series: [
        { valueField: 'Amazon', name: 'Amazon' },
        { valueField: 'Apple', name: 'Apple' },
        { valueField: 'Google', name: 'Google' }
    ],
    legend: {
        verticalAlignment: 'bottom',
        horizontalAlignment: 'center'
    },
    title: {
        text: 'Weekly Download Revenues'
    }}"></div>


        <div class="row">
            <div class="col-md-6">
                <h4>
                    Total Revenue: <strong>£<span data-bind="text: grossRevenue"></span></strong>
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    Share Revenue: <strong style="color: #33CC33; ">£<span data-bind="text: shareRevenue"></span></strong>
                </h4>
            </div>
        </div>

    </div> <!--Revenues Container Close-->

    <!--IAP Revenues Container-->
    <div class="col-md-6">

        <div id="iapLoader">
            <img src="/Content/images/ajax-loader.gif" />
        </div>

        <div id="iapWeekChart" style="height:500px; max-width:700px; margin: 0 auto" data-bind="dxChart: {
    dataSource: iapRevenues,
    commonSeriesSettings: {
        argumentField: 'Week',
        type: 'stackedBar',
        label: {
            visible: true,
            format: 'currency',
            customizeText: function () {
                return '£' + this.value; },
            showForZeroValues: false
        }
    },
    series: [
        { valueField: 'Amazon', name: 'Amazon' },
        { valueField: 'Apple', name: 'Apple' },
        { valueField: 'Google', name: 'Google' }
    ],
    legend: {
        verticalAlignment: 'bottom',
        horizontalAlignment: 'center'
    },
    title: {
        text: 'Weekly IAP Revenues'
    }}"></div>

        <div class="row">
            <div class="col-md-6">
                <h4>
                    Total Revenue: <strong>£<span data-bind="text: iapGrossRevenue"></span></strong>
                </h4>
            </div>
            <div class="col-md-6">
                <h4>
                    Share Revenue: <strong style="color: #33CC33; ">£<span data-bind="text: iapShareRevenue"></span></strong>
                </h4>
            </div>
        </div>

    </div>  <!--IAP Revenues Container Container -->
</div>

<div class="row">
    <div class="col-md-6">

        <div id="dauLoader">
            <img src="/Content/images/ajax-loader.gif" />
        </div>

        <div id="dauChart" style="height:500px; max-width:700px; margin: 0 auto" data-bind="dxChart: {
    dataSource: dau,
    commonSeriesSettings: {
        argumentField: 'DAUDate',
        type: 'stackedArea',
        label: {
            visible: false,
            showForZeroValues: false
        }
    },
    series: [
        { valueField: 'iOSUsers', name: 'iOS' },
        { valueField: 'AndroidUsers', name: 'Android' }
    ],
    legend: {
        verticalAlignment: 'bottom',
        horizontalAlignment: 'center'
    },
    title: {
        text: 'Daily Active Users'
    }}"></div>
    </div>

    <div class="col-md-6">

        <div id="dauChart" style="height:500px; max-width:700px; margin: 0 auto" data-bind="dxChart: {
    dataSource: newUsers,
    commonSeriesSettings: {
        argumentField: 'DAUDate',
        type: 'stackedArea',
        label: {
            visible: false,
            showForZeroValues: false
        }
    },
    series: [
        { valueField: 'iOSUsers', name: 'iOS' },
        { valueField: 'AndroidUsers', name: 'Android' }
    ],
    legend: {
        verticalAlignment: 'bottom',
        horizontalAlignment: 'center'
    },
    title: {
        text: 'New Users'
    }}"></div>
    </div>
 </div>

    @section Scripts {
        <script src="/Scripts/StatIt/RevenueViewModel.js"></script>
    }


