@{
    ViewBag.Title = "StatIt";
}

<h1>Hello StatIt</h1>

<div id="target">

</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            //function GetDownloads()
            //{

            //    $.getJSON('/Home/GetDownloads', function (data) {

            //        var parsedJson = JSON.parse(data);

            //        var iain = parsedJson.lines[0].data.application;

            //        $('#target').append('It woks' + iain);
            //    });
            //}

            //GetDownloads();


            //function getName(personid) {
            //    var dynamicData = {};
            //    dynamicData["id"] = personID;
            //    return $.ajax({
            //        url: "getName.php",
            //        type: "get",
            //        data: dynamicData
            //    });
            //}

            //getName("2342342").done(function (data) {
            //    // Updates the UI based the ajax result
            //    $(".person-name").text(data.name);
            //});

            function getAllDownloads() {
                return $.ajax({
                    url: '/Home/GetDownloads',
                })
            }

            getAllDownloads().done(function (data) {
                var parsedJson = JSON.parse(data);

                var iain = parsedJson.lines[0].data.application;

                $('#target').append('It woks' + iain);
            }).

        });


        //parsedJson





    </script>
}


