@{
    ViewBag.Title = "StatIt";
}

<h1>Hello StatIt</h1>

<div id="target">

</div>

<ul data-bind="foreach: downloads">
    <li>
        Application <span data-bind="text: data.application"> </span>:
    </li>
</ul>

@section Scripts {
    <script>

        $(document).ready(function () {

            function DownloadsViewModel() {
                var self = this;
                self.downloads = ko.observableArray();

                $.ajax('/Home/GetDownloads')
                .done(function (data) {
                    var parsedJson = JSON.parse(data);
                    self.downloads(parsedJson.lines);
                })
                .error(function () {
                    $('#target').append('Failed');
                })
            }

            ko.applyBindings(new DownloadsViewModel());

            

        });
    </script>
}


