@{
    ViewBag.Title = "StatIt";
}

<h1>Revenues</h1>

<div id="target">

</div>

<div id="loading">
    <img src="/Content/images/ajax-loader.gif" />
</div>

<div class="row" data-bind="template: { name: 'revenue-template', foreach: revenues }">
    
</div>

@section Scripts {

    <script type="text/html" id="download-template">

        <li>
            Application <span data-bind="text: data.application"> </span>
        </li>

    </script>

    <script type="text/html" id="revenue-template">
        <div class="col-md-3">
            <h2 data-bind="text: data.application"></h2>
            <h3 data-bind="text: data.appstore"></h3>
            <h3 data-bind="text: points"></h3>
        </div>
    </script>

    <script>

        $(document).ready(function () {

            function RevenuesViewModel() {
                var self = this;

                self.revenues = ko.observableArray();

                $.ajax({
                    url: '/Home/GetRevenues?from=all&revenue=total&view=line&breakdown=application,appstore',
                    beforeSend: function () { $('#loading').show(); },
                    complete: function () { $('#loading').hide(); }
                })
                .done(function (data) {
                    var parsedJson = JSON.parse(data);
                    self.revenues(parsedJson.lines);
                })
                .error(function () {
                    $('#target').append('Failed');
                })

            }

            function DownloadsViewModel() {
                var self = this;
                self.downloads = ko.observableArray();

                $.ajax({
                    url: '/Home/GetDownloads',
                    beforeSend: function () { $('#loading').show(); },
                    complete: function () { $('#loading').hide(); }
                })
                .done(function (data) {
                    var parsedJson = JSON.parse(data);
                    self.downloads(parsedJson.lines);
                })
                .error(function () {
                    $('#target').append('Failed');
                })
            }

           // ko.applyBindings(new DownloadsViewModel());
            ko.applyBindings(new RevenuesViewModel());


        });
    </script>
}


